.c-block-1.left
  = render 'layouts/domains_small_listing'   
.c-block-1.left{style: "margin-left:10%;"}
  .left
    %input
  .left
    %span{style: "margin-left: 8px;margin-right: 8px;"}
      = "-"
  .left
    %input
  .left 
    %a.button-2{style: "margin-left: 18px;"}
      SEARCH