/%span
/  =link_to 'Select all' ,"#","data-bind" => "click: select_all"
/%span
/  =link_to 'Clear selection' ,"#","data-bind" => "click: clear_selection"
.wr-100
  %ul.horizontal{style: "font-size: 15px;margin-top:10px;","data-bind" => "foreach: sphinxes"}
    %li{style: "margin-bottom: 10px;"}
      /%input{:type => "checkbox", "data-bind" => "value: id, checked: $root.selected_sphinxes"}
      %span{style: "cursor:pointer;padding:5px;","data-bind" => "text: name,click: function(s){ $root.selected_sphinx(s); },style: { border: $root.selected_sphinx() == $data ? '1px solid #cccccc' : 'none' }"}
  