.wr-100
  %ul.horizontal{style: "font-size: 15px;margin-top:10px;","data-bind" => "foreach: sphinxes"}
    %li{style: "margin-bottom: 10px;"}
      %span{style: "cursor:pointer;padding:5px;","data-bind" => "text: name,click: function(s){ $root.selected_sphinx(s); },style: { border: $root.selected_sphinx() == $data ? '1px solid #cccccc' : 'none' }"}
  