!!!
%html
  %head
    %title>
      Sphix Parser
    = stylesheet_link_tag    "application_manifest"
    = javascript_include_tag "application_manifest" 
    = csrf_meta_tags 

  %body
    .header
      %ul.horizontal
        %li
          =link_to 'HOME', root_path
        %li
          =link_to 'MANAGE SPHINXES', sphinxes_path
    .wr-90.center
      = yield 
